.td-content {
    > table {
        @extend .table-hover;
        @extend .table;
    }

    > table {
        border: 1px solid #5e85ba;
    }

    > table > thead {
        background-color: #5e85ba;
         color: $white;
        // @extend .thead-dark; // too dark!
    }

    > table > thead > tr > th {
        font-weight: normal;
    }
}