.td-content {
    > table {
        @extend .table-hover;
        @extend .table;
    }

    > table {
        border: 1px solid #5e85ba;
    }

    > table > thead {
        background-color: #5e85ba;
         color: $white;
        // @extend .thead-dark; // too dark!
    }

    > table > thead > tr > th {
        font-weight: normal;
    }
}

/* Add a thin border to note/alert boxes. */
.alert {
    border-right: 1px dashed #cdd7e6;
    border-top: 1px dashed #cdd7e6;
    border-bottom: 1px dashed #cdd7e6;
    border-radius: 0.25rem;
}

/* Chevrons for collapsible inline note boxes */
[data-toggle="collapse"] .fa:before {  
    content: "\f139";
}  
[data-toggle="collapse"].collapsed .fa:before {
    content: "\f13a";
}


.td-navbar {
    background: rgb(2,0,36);
    background: linear-gradient(153deg, rgba(2,0,36,1) 0%, rgba(146,1,138,1) 62%, rgba(55,173,176,1) 100%);

    a {
        color: rgb(250, 248, 242);
    }

    a:hover {
        // text-decoration: underline;
        // color: rgb(250, 248, 242);
        color: rgb(255, 127, 131);
    }

    li .active {
        text-decoration: underline;
    }
}

.readmorelink {
    font-style: italic;
    text-align: right;
}
