{{ $pages_below := .Page.RegularPages.ByWeight }}
{{ $sections_below := .Page.Sections.ByWeight }}

<div class="section-index">
    {{ range $sections_below }}
        <div class="entry">
            <h5>
                <a href="{{ .RelPermalink }}">{{- .Title -}}</a>
            </h5>
            <p>{{ .Description | markdownify }}</p>
        </div>

        <div class="indent">
            {{ $pages_below_section := .RegularPagesRecursive.ByWeight }}
                {{ range $pages_below_section }}
                <div class="entry">
                    <h5>
                        <a href="{{ .RelPermalink }}">{{- .Title -}}</a>
                    </h5>
                    <p>{{ .Description | markdownify }}</p>
                </div>
            {{ end }}
        </div>
    {{end}}
    {{ range $pages_below }}
            <div class="entry">
                <h5>
                    <a href="{{ .RelPermalink }}">{{- .Title -}}</a>
                </h5>
                <p>{{ .Description | markdownify }}</p>
            </div>
    {{ end }}
</div>